@use "sass:color";

$width-desktop: 1440px;
$width-laptop: 1100px;
$width-tablet: 768px;
$width-mobile: 500px;

// light theme
$color-black: #000000;
$color-black-olive: #403f3d;
$color-granite: #665f55;
$color-bone: #e1d4c9;
$color-anti-flash-white: #f0f0f0;
$color-iguana-green: #75b781;
$color-green: #5eaa2f;
$color-sandy-brown: #f0a658;
$color-pastel-yellow: #d68e40;
$color-chinese-bronze: #ce802d;
$color-teal-blue: #256985;

// dark theme
$color-eerie-black: #17161a;
$color-dim-gray: #68676f;
$color-warm-gray: #88817b;
$color-indigo: #232361;
$color-pine-tree: #272822;
$color-darker-green: #4f8f27;
$color-medium-purple: #6554c2;
$color-major-blue: #5746bb;
$color-dark-slate-blue: #473c8d;
$color-dark-blue: #151547;
$color-root-bear: #2b0e01;

:root {
  --font-primary: "Arial", sans-serif;

  --color-text-basic: #{$color-black-olive};
  --color-text-second: #{$color-black};
  --color-text-success: #{$color-green};

  --color-bg-body: #{$color-iguana-green};
  --color-bg-heading: #{$color-sandy-brown};
  --color-bg-gameboard: #{$color-sandy-brown};
  --color-bg-clue: #{$color-bone};
  --color-bg-gamefield: #{$color-anti-flash-white};
  --color-bg-cell-flag: #{$color-teal-blue};
  --color-bg-modal: #{$color-bone};
  --color-bg-backdrop: #{color.adjust($color-black-olive, $alpha: -0.2)};

  --color-btn-basic: #{$color-sandy-brown};
  --color-btn-hover: #{$color-pastel-yellow};
  --color-btn-active: #{$color-chinese-bronze};

  --color-bd-basic: #{$color-granite};
  --color-bd-second: #{$color-black};
}
