.game-field {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / 3 / 3;
  background-color: var(--color-bg-gamefield);
  outline: 2px solid var(--color-bd-second);
  cursor: pointer;
  transition: background-color 0.6s ease-out, outline 0.6s ease-out;
  -webkit-tap-highlight-color: transparent;

  &--default-cursor {
    cursor: default;
  }
}

.game-field__row {
  display: flex;
  flex-grow: 1;
  box-shadow: inset 2px 0 var(--color-bd-second), inset 0 -0.5px var(--color-bd-basic), 0 0.5px var(--color-bd-basic);
  transition: box-shadow 0.6s ease-out;

  &:first-child {
    box-shadow: inset 2px 0 var(--color-bd-second),
      inset 0 2px var(--color-bd-second),
      inset 0 -0.5px var(--color-bd-basic),
      0 0.5px var(--color-bd-basic);
  }

  &:nth-child(5n):not(:last-child) {
    box-shadow: inset 2px 0 var(--color-bd-second), inset 0 -2px var(--color-bd-second), 0 2px var(--color-bd-second);
  }
}

.game-field__cell {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  box-shadow: 0.5px 0 var(--color-bd-basic), inset -0.5px 0 var(--color-bd-basic);
  transition: box-shadow 0.6s ease-out, background-color 0.6s ease-out;
  mask-repeat: no-repeat;
  mask-position: center;

  &:nth-child(5n):not(:last-child) {
    box-shadow: 2px 0 var(--color-bd-second), inset -2px 0 var(--color-bd-second);
  }

  &--box {
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--color-bg-cell-flag);
      transition: background-color 0.6s ease-out;
      mask-image: url("../assets/img/icons/box.svg");
    }
  }

  &--cross {
    &::before {
      content: "";
      width: calc(var(--cell-size) - 2px);
      height: calc(var(--cell-size) - 2px);
      background-color: var(--color-bg-cell-flag);
      transition: background-color 0.6s ease-out;
      mask-image: url("../assets/img/icons/cross.svg");
    }
  }
}
