@use "../common/forward" as *;

.game-board {
  $horizontal-size: calc(var(--field-size) + var(--left-clue-width));
  $vertical-size: calc(var(--field-size) + var(--top-clue-height));
  --field-size: 15;
  --top-clue-height: 8;
  --left-clue-width: 8;

  display: grid;
  height: 100%;
  background-color: var(--color-bg-gameboard);
  outline: 4px solid var(--color-bd-black);

  @container main (max-width: #{$width-desktop}) {
    --inline-cell-size: calc(100cqw / (var(--field-size) + var(--left-clue-width)));
    --block-cell-size: calc(100cqh / (var(--field-size) + var(--top-clue-height)));
    --cell-size: calc(min(var(--inline-cell-size), var(--block-cell-size)));

    grid-template-rows: calc(var(--cell-size) * var(--top-clue-height)) 1fr;
    grid-template-columns: calc(var(--cell-size) * var(--left-clue-width)) 1fr;
    width: calc(var(--cell-size) * (var(--left-clue-width) + var(--field-size)));
    height: calc(var(--cell-size) * (var(--top-clue-height) + var(--field-size)));
  }
}
