@use "../common/forward" as *;

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 900px;
  padding: 20px 20px 0;
}

.header__title {
  margin: 0;
  padding: 10px;
  background-color: var(--color-bg-heading);
  border: 3px solid var(--color-bd-basic);
  border-radius: 12px;
  transition: background-color 0.6s ease-out, border-color 0.6s ease-out;
}

.header__timer {
  display: flex;
  justify-content: center;
  min-width: 80px;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  line-height: 24px;
  background-color: var(--color-bg-heading);
  border: 2px solid var(--color-bd-basic);
  border-radius: 5px;
  transition: background-color 0.6s ease-out, border-color 0.6s ease-out;
}

.header__selects {
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
  column-gap: 20px;
  align-items: center;
}

.header__select {
  display: block;
  margin: 0 auto;
  padding: 0.25em 0.5em;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: inherit;
  color: inherit;
  background-color: var(--color-bg-heading);
  border: 2px solid var(--color-bd-basic);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.6s ease-out, border-color 0.6s ease-out, outline 0.6s ease-out;

  &--template {
    min-width: 152px;
  }

  &:hover,
  &:focus-visible {
    @include media-hover {
      background-color: var(--color-btn-hover);
      border-color: var(--color-bd-second);
      outline: 0 solid var(--color-bd-second);
    }
  }

  &:focus-within {
    outline: 1px solid var(--color-bd-second);
  }
}

.header__buttons {
  @include list-reset;

  display: flex;
  gap: 10px;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 0;
  color: var(--color-text-basic);
  background-color: var(--color-btn-basic);
  border: 2px solid var(--color-bd-basic);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.6s ease-out, color 0.6s ease-out, border-color 0.6s ease-out;

  &::before {
    content: "";
    width: 36px;
    height: 36px;
    background-color: var(--color-text-basic);
    transition: background-color 0.6s ease-out;
    mask-repeat: no-repeat;
  }

  &--theme_light::before {
    mask-image: url("../assets/img/icons/theme-light.svg");
  }

  &--theme_dark::before {
    width: 32px;
    height: 32px;
    mask-image: url("../assets/img/icons/theme-dark.svg");
  }

  &--sound_on::before {
    mask-image: url("../assets/img/icons/sound-on.svg");
  }

  &--sound_off::before {
    mask-image: url("../assets/img/icons/sound-off.svg");
  }

  &--scores::before {
    width: 32px;
    height: 32px;
    mask-image: url("../assets/img/icons/scores.svg");
  }

  &:hover,
  &:focus-visible {
    @include media-hover {
      background-color: var(--color-btn-hover);
      border-color: var(--color-bd-second);
    }
  }

  &:active {
    background-color: var(--color-btn-active);
    border-color: var(--color-bd-second);

    &::before {
      background-color: var(--color-text-second);
    }
  }

  &:disabled {
    color: var(--color-text-basic);
    background-color: var(--color-btn-basic);
    border: 2px solid var(--color-bd-basic);
    opacity: 0.6;
    cursor: default;
  }
}
